* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

header h1 {
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    text-align: center;
    margin: 70px 0 70px 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.form-template1 {
    margin-top: 50px;
    width: 330px;
    height: 400px;
    background-color: #fff;
    margin-top: 50px;
    margin: 20px;
}

.form-header1 {
    width: 100%;
    height: 130px;
    background: linear-gradient(to right, orange, red);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-header1 h1 {
    color: white;
    font-size: 20px;
    padding: 10px 0px;
}

.form-header1 h1, .social i {
    color: white;
    font-size: 20px;
    padding: 10px 10px;
}

.form-container1 {
    padding: 20px;
    margin-top: 20px;
}

input[type='email'] {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    width: 100%;
}

input[type='password'] {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    width: 100%;
}

.form-container1 p {
    font-size: 14px;
    color: grey;
    padding: 20px;
    text-align: right;
}

.form-container1 b {
    color: #000;
}

input[type='submit'] {
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: grey;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
}

#p2 {
    float: right;
    /* display: inline-block; */
    /* margin-left: 5px; */
    margin-top: 27px;
    font-size: 15px;
}


/* template 2 */


.form-template2 {
    margin-top: 50px;
    width: 330px;
    height: 400px;
    background-color: #fff;
    margin-top: 50px;
    margin: 20px;
}

.form-header2 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-header2 h1 {
    color: deeppink;
    font-size: 30px;
    padding: 10px 0px;
    margin-top: 15px;
}

.form-container2 {
    /* margin-top: 20px; */
    padding: 20px;
}

input[type='email'] {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    width: 100%;
}

input[type='password'] {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    width: 100%;
}

input[type='checkbox'] {
    margin: 20px 0;
}

.form-container2 p {
    display: inline-block;
    font-size: 14px;
    color: grey;
    padding: 20px 5px;
    text-align: right;
}

.form-container2 b {
    color: rgb(14, 138, 186);
}

.form-container2 input[type='submit'] {
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: deeppink;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
}

#p3 {
    float: right;
    /* display: inline-block; */
    /* margin-left: 5px; */
    margin-top: 25px;
    font-size: 17px;
}

.form-footer2 {
    margin-top: 30px;
    background-color: #778899;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-footer2 .social i {
    font-size: 20px;
    padding: 10px 10px;
}


/* template 3 */


.form-template3 {
    margin-top: 50px;
    width: 330px;
    height: 400px;
    background-color: #fff;
    margin-top: 50px;
    margin: 20px;
}

.form-header3 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-header3 h1 {
    color: black;
    font-size: 30px;
    padding: 10px 0px;
    margin-top: 15px;
}

.form-container3 {
    padding: 20px;
    margin-top: 10px;
}

input[type='email'] {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    width: 100%;
}

input[type='password'] {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    width: 100%;
}

input[type='checkbox'] {
    margin: 20px 0;
}

.form-container3 p {
    float: right;
    /* display: inline-block; */
    font-size: 14px;
    color: black;
    padding: 20px 5px;
    text-align: right;
}

.form-container3 b {
    color: skyblue;
}

.form-container3 input[type='submit'] {
    outline: none;
    border: none;
    border-radius: 20px;
    background-image: radial-gradient(
            circle at bottom left,
            black,
            blue
    );
    color: white;
    padding: 10px 20px;
    margin-top: 30px;
    display: block;
    width: 100%;
}

#p4 {
    text-align: center;
    /* display: inline-block; */
    /* margin-left: 5px; */
    margin-top: 20px;
    font-size: 17px;
}

.form-footer3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-footer3 .social i {
    text-align: center;
    color: #3498db;
    font-size: 20px;
    padding: 10px 10px;
    box-shadow: 2px 2px 5px #3498db;
    width: 70px;
    border-radius: 20px;
}

.form-footer3 .social i:hover {
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
}

input[type='submit']:hover {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

b:hover {
    color: #3498db;
    border-bottom: 1px solid skyblue;
    cursor: pointer;
}

i:hover {
    color: skyblue;
    cursor: pointer;
}